.fen_qu>ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}
.fen_qu>ul>li{
	display: inline-block;
	width: 33.33%;
	height: 105px;
	text-align: center;
}
.fen_qu>ul>li>div{
	width: 60px;
	height: 60px;
	margin: 10px auto 5px;
}
.fen_qu>ul>li>span{
	font-size: 15px;
}