* {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}
.mui-content {
	background-color: #FFFFFF;
}
.header {
	background-color: #FFFFFF;
	height: 50px;
}

.help {
	margin-left: 280px;
	font-size: 14px;
}
.title {
	margin-top: 35px;
	margin-left: 30px;
	margin-right: 30px;
	
}
.tiplogin {
	letter-spacing: 1.5px;
	font-size: 24px;
	font-weight: 700;
}
.tipregister {
	color: #6D6D72;
	letter-spacing: 1.2px;
	font-size: 13px;
}
.login {
	margin-top: 40px;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
}
.tologin {
	margin-top: 10px;
	width: 300px;
}
.changepass {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 13px;
	margin-top: 10px;
}
.tiaokuan {
	margin-top: 330px;
	text-align: center;
}
.tiaokuan>p {
	font-size: 12px;
}
.tiaokuan>p>span {
	color: #007AFF;
}
.passloginform {
	height: 300px;
	margin-top: 40px;
}
.mui-input-group {
	margin-left: 30px;
	margin-right: 40px;
}
.shuru::after{
	height: 0 !important;
}