<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/zhuye.css" rel="stylesheet" />
		<script src="./js/jquery-3.4.1.min.js"></script>
		<script src="js/mui.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<style type="text/css">
			#xuanxiang{
				background-color:white;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<span class="mui-icon mui-icon-videocam mui-pull-left"></span>
			<div class="mui-input-row mui-search" style="width: 80%; display: inline-block; margin-left: 13px;">
				<input type="search" class="mui-input-clear" placeholder="知乎">
			</div>
			<span class="fabu mui-icon mui-icon-plus mui-pull-right"></span>
			<div></div>
		</header>
		<div class="mui-content">
			<div id="app">
				<div class="mui-slider">
					<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted " id="xuanxiang">
						<a class="mui-control-item" href="#item1">关注 </a>
						<a class="mui-control-item" href="#item2">推荐</a>
						<a class="mui-control-item" href="#item3">热榜</a>
					</div>
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
					<div class="mui-slider-group">
						<div id="item1" class="mui-slider-item mui-control-content mui-active">
							<ul class="listcards">
								<li class="lists mui-card" v-for="(item, index) in artlist" @click="into(item)">
									<div class="title">{{item.title}}</div>
									<div class="body">
										<div class="left">
											<div class="user">
												<div class="img">
													<img :src="item.masterimg" />
												</div>
												<div class="name">
													{{item.mastername}}
												</div>
											</div>
											<div class="descript">
												{{item.descript}}
											</div>
										</div>
										<div class="right">
											<img :src="item.imgback" />
										</div>
									</div>
									<div class="zan">
										<span class="zantong">{{item.zancount}}</span>赞同
									</div>
								</li>
							</ul>
						</div>
						
						
						<div id="item2" class="mui-slider-item mui-control-content">
							<ul class="listcards">
								<li class="lists mui-card"  v-for="(item, index) in artlist" @click="into(item)">
									<div class="title">{{item.title}}</div>
									<div class="body">
										<div class="left">
											<div class="user">
												<div class="img">
													<img :src="item.masterimg" />
												</div>
												<div class="name">
													{{item.mastername}}
												</div>
											</div>
											<div class="descript">
												{{item.descript}}
											</div>
										</div>
										<div class="right">
											<img :src="item.imgback" />
										</div>
									</div>
									<div class="zan">
										<span class="zantong">{{item.zancount}}</span>赞同
									</div>
								</li>
								
							</ul>
						</div>
						
						
						<div id="item3" class="mui-slider-item mui-control-content">
							<ul class="listcards">
								<li class="lists mui-card" v-for="(item, index) in artlist" @click="into(item)">
									<div class="title">{{item.title}}</div>
									<div class="body">
										<div class="left">
											<div class="user">
												<div class="img">
													<img :src="item.masterimg" />
												</div>
												<div class="name">
													{{item.mastername}}
												</div>
											</div>
											<div class="descript">
												{{item.descript}}
											</div>
										</div>
										<div class="right">
											<img :src="item.imgback" />
										</div>
									</div>
									<div class="zan">
										<span class="zantong">{{item.zancount}}</span>赞同
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		mui.init()
		
		var App = new Vue({
		  el: '#app',
		  data() {
			  return {
				  
				artlist:[]
			  }
		 },
		created() {
			  this.getalllist()
			  
		},
		methods: {
			
			getalllist() {
				mui.ajax('http://localhost:9001/zhuser/article/getarticle',{
					dataType:'json',//服务器返回json格式数据
					type:'get',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					headers:{
						'Content-Type':'application/json',
						'token':window.localStorage.getItem("usertoken")
					},	              
					success:function(data){
						 App.artlist = data.data.list
					},
					error:function(xhr,type,errorThrown){
						//异常处理；
						mui.toast("失败")
					}
				});
			},
			into(item) {
				mui.openWindow({
					url:'./neirong.html?id='+item.id,
					id:'neirong.html',
				})
			}
			  
		}
		})
		document.getElementsByClassName("fabu")[0].addEventListener('tap', function(){
			mui.openWindow({
				url:'./fabu.html',
				id:'fabu.html'
			})
		})
		
	</script>
</html>
