<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<script src="js/mui.min.js"></script>
		<link href="css/zhuye.css" rel="stylesheet" />
		<script src="./js/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
	
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<span class="mui-icon mui-icon-videocam mui-pull-left"></span>
			<div class="mui-input-row mui-search" style="width: 80%; display: inline-block; margin-left: 13px;">
				<input type="search" class="zsearch mui-input-clear" placeholder="知乎">
			</div>
			<span class="fabu mui-icon mui-icon-plus mui-pull-right"></span>
			<div></div>
		</header>
		<div class="mui-content" id="refreshContainer">
			<div id="app">
				<div class="mui-slider">
					<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted " id="xuanxiang">
						<a class="mui-control-item" href="#item1">关注 </a>
						<a class="mui-control-item" href="#item2">推荐</a>
						<a class="mui-control-item" href="#item3">热榜</a>
					</div>
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
					<div class="mui-slider-group">
						<div id="item1" class="mui-slider-item mui-control-content mui-active">
							<ul class="listcards">
								<li class="lists mui-card" v-for="(item, index) in artlist" @click="into(item)">
									<div class="title">{{item.title}}</div>
									<div class="body">
										<div class="left">
											<div class="user">
												<div class="img">
													<img :src="item.masterimg" />
												</div>
												<div class="name">
													{{item.mastername}}
												</div>
											</div>
											<div class="descript">
												{{item.descript}}
											</div>
										</div>
										<div class="right">
											<img :src="item.imgback" />
										</div>
									</div>
									<div class="zan">
										<span class="zantong">{{item.zancount}}</span>赞同
									</div>
								</li>
							</ul>
						</div>
						
						
						<div id="item2" class="mui-slider-item mui-control-content">
							<ul class="listcards">
								<li class="lists mui-card"  v-for="(item, index) in artlist" @click="into(item)">
									<div class="title">{{item.title}}</div>
									<div class="body">
										<div class="left">
											<div class="user">
												<div class="img">
													<img :src="item.masterimg" />
												</div>
												<div class="name">
													{{item.mastername}}
												</div>
											</div>
											<div class="descript">
												{{item.descript}}
											</div>
										</div>
										<div class="right">
											<img :src="item.imgback" />
										</div>
									</div>
									<div class="zan">
										<span class="zantong">{{item.zancount}}</span>赞同
									</div>
								</li>
								
							</ul>
						</div>
						
						
						<div id="item3" class="mui-slider-item mui-control-content">
							<ul class="listcards">
								<li class="lists mui-card" v-for="(item, index) in artlist" @click="into(item)">
									<div class="title">{{item.title}}</div>
									<div class="body">
										<div class="left">
											<div class="user">
												<div class="img">
													<img :src="item.masterimg" />
												</div>
												<div class="name">
													{{item.mastername}}
												</div>
											</div>
											<div class="descript">
												{{item.descript}}
											</div>
										</div>
										<div class="right">
											<img :src="item.imgback" />
										</div>
									</div>
									<div class="zan">
										<span class="zantong">{{item.zancount}}</span>赞同
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/util.js"></script>
		<script type="text/javascript">
			(function() {
				mui.init({
					swipeBack: true //启用右滑关闭功能
				});
				mui.plusReady(function() {
					var self = plus.webview.currentWebview()
						

					

					// 创建子webview窗口 并初始化
					var aniShow = {};
					util.initSubpage(aniShow);
					
					var 	nview = plus.nativeObj.View.getViewById('tabBar'),
						activePage = plus.webview.currentWebview(),
						targetPage,
						subpages = util.options.subpages,
						pageW = window.innerWidth,
						currIndex = 0;
					
						
					/**
					 * 根据判断view控件点击位置判断切换的tab
					 */
					nview.addEventListener('click', function(e) {
						var clientX = e.clientX;
						if(clientX > 0 && clientX <= parseInt(pageW * 0.2)) {
							currIndex = 0;
						} else if(clientX > parseInt(pageW * 0.2) && clientX <= parseInt(pageW * 0.4)) {
							currIndex = 1;
						} else if(clientX > parseInt(pageW * 0.4) && clientX <= parseInt(pageW * 0.6)) {
							currIndex = 2;
						} else if(clientX > parseInt(pageW * 0.6) && clientX <= parseInt(pageW * 0.8)) {
							currIndex = 3;
						} 
						else {
							currIndex = 4;
						}
						// 匹配对应tab窗口	
						if(currIndex > 0) {
							targetPage = plus.webview.getWebviewById(subpages[currIndex - 1]);
						} else {
							targetPage = plus.webview.currentWebview();
						}

						if(targetPage == activePage) {
							return;
						}

						
							//底部选项卡切换
							util.toggleNview(currIndex);
							// 子页面切换
							util.changeSubpage(targetPage, activePage, aniShow);
							//更新当前活跃的页面
							activePage = targetPage;
						
					});
				});
			})();
			
			
			var App = new Vue({
			  el: '#app',
			  data() {
				  return {
					  
					artlist:[]
				  }
			 },
			created() {
				  this.getalllist()
				  
			},
			methods: {
				
				getalllist() {
					mui.ajax('http://123.56.66.254:9001/zhuser/article/getarticle',{
						dataType:'json',//服务器返回json格式数据
						type:'get',//HTTP请求类型
						timeout:10000,//超时时间设置为10秒；
						headers:{
							'Content-Type':'application/json;charset=UTF-8',
							'token':window.localStorage.getItem("usertoken")
						},	              
						success:function(data){
							 App.artlist = data.data.list
						},
						error:function(xhr,type,errorThrown){
							//异常处理；
							mui.toast("失败")
						}
					});
				},
				into(item) {
					mui.openWindow({
						url:'./neirong.html?id='+item.id,
						id:'neirong.html',
					})
				},
				  
			}
			})
			document.getElementsByClassName("fabu")[0].addEventListener('tap', function(){
				mui.openWindow({
					url:'./html/fabu.html',
					id:'fabu.html'
				})
			})
		</script>
	</body>

</html>